@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Ledger manages an inventory of books. It keeps track of authors, their books, and those books' reviews.</p>
