@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    17550 Uplands Dr<br />
    Sonora, CA 95370<br />
    <abbr title="Phone">P:</abbr>
    1-(209)-588-6029
</address>

<address>
    <strong>Gmail:</strong> <a href="mailto:aajungroth@ucdavis.edu">aajungroth@ucdavis.edu</a><br />
    <strong>Outlook:</strong> <a href="mailto:aajungroth@outlook.com">aajungorth@outlook.com</a>
</address>
